{% extends 'template.html' %}

{% load static crispy_forms_tags %}

{% block content %}

    <div class="py-4">
        <h2>{{ page_title }}</h2>
        <form method="post" class="my-4 pb-4">
            {% crispy form %}
            <button type="button" onclick="validate()" class="btn btn-primary">Inscrever-se</button>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $('#id_telefone').inputmask('(99) 9999[9]-9999');
        $('#id_cpf').inputmask('999.999.999-99');

        $('.dateinput').datepicker({
            format: 'dd/mm/yyyy',
            language: 'pt-BR',
        });

        $('input').attr('autocomplete', 'off');

        function validate() {
            let curso = $('#id_curso').val();
            let outro = $('#id_curso_outro').val();
            if (curso.trim().length == 0 && outro.trim().length == 0) {
                swal("Formulário incompleto", "Você precisa informar seu curso de graduação", "error");
            } else {
                $('form').submit();
            }
        }

        $('#id_curso').change(function () {
            $('#id_curso_outro').val(null);
        });
        $('#id_curso_outro').change(function () {
            $('#id_curso').val(null);
        });
    </script>
{% endblock %}